[package]
name = "tlschecker"
version = "0.1.5"
edition = "2018"
description = "TLS/SSL certificate expiration date from command-line checker"
authors = ["Jose Bovet Derpich <jose.bovet@gmail.com>"]
license = "GNU"
readme = "README.md"
repository = "https://github.com/jbovet/tlschecker"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
openssl = "0.10.38"
clap = "2.33.3"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

[[bin]]
name = "tlschecker"
test = false
doc = false
